retseptid/retseptid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="retseptid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="retsept">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="10" name="koostisosa">
                <xs:complexType>
                  <xs:attribute name="nimi" type="xs:string" use="required" />
                  <xs:attribute name="kogus" type="xs:string" use="required" />
                  <xs:attribute name="kommentaar" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="toidunimi" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>